*{
    margin: 0;
    padding: 0;
    font-family:'montserrat',sans-serif;
}
.bgimage{
    background-image: url('../img.jpg');
    background-size: 100% 100%;
    width: 100%;
    height:100vh;

}
.header{
    height: 100px;
    background: rgba(0,0,0,0.7);
    padding: 0 20px;
    color: #fff;
}


.menu{
    float:right;
    line-height: 100px;
    width: 35%;
    
}


.Vini{
    line-height:100px;

}

.menu a{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-decoration: none;
    padding:0 10px;
    font-weight: bolder;
    font-family:'montserrat',sans-serif;
}
.header ul a:hover{
    color: rgb(148, 224, 49);
}
.show-menu-btn,.hide-menu-btn{
    transition: 0.4s;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.show-menu-btn{
    float:right;
}
.show-menu-btn i{
    line-height: 100px;
}

.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover{
    color: #3498db;
}

#chk{
    position: absolute;
    visibility: hidden;
    z-index: -1111;
}

@media screen and (max-width:1200px){
    .show-menu-btn,.hide-menu-btn{
        display: block;
    }
    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(51, 92, 110);
        right: -100%;
        top: 0;
        text-align: center;
        padding: 10px 0;
        line-height: normal;
        transition: 0.7s;
    }
    .menu a{
        display:block;
        padding: 30px;
    }
    .hide-menu-btn{
        position: absolute;
        top: 20px;
        left: 40px;
    }
    #chk:checked ~ .menu{
        right: 0;
    }
}

.text{
    width: 100%;
    text-transform: uppercase;
    font-family:'montserrat',sans-serif; 
    text-align: left;
    color:black;
    line-height: 30px;
    margin-left: 10px;
    margin-top: 10px;
}

.dp{
    border-radius: 50%;
    height: 120px;
    width:120px;
    box-shadow: #000000 2px 10px 10px;
    align-items: center;
}

.icons{
    margin: 0%;
    padding: 0%;
    position: absolute;
    top: 60%;
    transform: translate(-0%);
    width: 100%;
    text-align: center;

}

.i{
    display: inline-block;
    width: 50px;
    height:50px;
    background-color: aliceblue;
    margin: 10px;
    border-radius: 30%;
    box-shadow: 0 5px 10px -2px #00000070;
    color: #0a0a0a;
    overflow: hidden;
    position: relative;
}

.i i{
    line-height: 250%;
    font-size: 20px;
    transition:0.2s linear;
}

.i:hover i{
    transform: scale(2);
    color:orange;
}

.i::before{
    content:"";
    position: absolute;
    width: 100px;
    height:100px;
    background: #000000;
    transform:rotate(45deg);
    left: -600%;
    top: 100%;
}

.i:hover::before{
    animation: aaa 0.9s 1;
    top: -10%;
    left: -10%;
}

@keyframes aaa{
    0%{
        left: -120%;
        top: 80%;
    }50%{
        left: 10%;
        top: -10%;
    }100%{
        top: -10%;
        left: -10%;
    }
}



